html {
  background-color: aquamarine;
}

.app {
  text-align: center;
  padding: 40px;
}

button {
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: none;
}
button:hover {
  background-color: grey;
  color: white;
}

.container {
  padding: 4rem;
  margin-top: 8rem;
  min-height: 8rem;
}

.item {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  background-color: green;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px;
}
